body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    min-width: 410px;
    font-family: 'David Libre', serif !important;
    background: -moz-linear-gradient(215deg, rgba(59, 68, 77, 1) 0%, rgba(59, 68, 77, 1) 2%, rgba(65, 74, 84, 1) 23%, rgba(60, 68, 77, 1) 51%, rgba(41, 47, 54, 1) 89%, rgba(41, 47, 54, 1) 100%);
    /* ff3.6+ */
    
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(41, 47, 54, 1)), color-stop(11%, rgba(41, 47, 54, 1)), color-stop(49%, rgba(60, 68, 77, 1)), color-stop(77%, rgba(65, 74, 84, 1)), color-stop(98%, rgba(59, 68, 77, 1)), color-stop(100%, rgba(59, 68, 77, 1)));
    /* safari4+,chrome */
    
    background: -webkit-linear-gradient(215deg, rgba(59, 68, 77, 1) 0%, rgba(59, 68, 77, 1) 2%, rgba(65, 74, 84, 1) 23%, rgba(60, 68, 77, 1) 51%, rgba(41, 47, 54, 1) 89%, rgba(41, 47, 54, 1) 100%);
    /* safari5.1+,chrome10+ */
    
    background: -o-linear-gradient(215deg, rgba(59, 68, 77, 1) 0%, rgba(59, 68, 77, 1) 2%, rgba(65, 74, 84, 1) 23%, rgba(60, 68, 77, 1) 51%, rgba(41, 47, 54, 1) 89%, rgba(41, 47, 54, 1) 100%);
    /* opera 11.10+ */
    
    background: -ms-linear-gradient(215deg, rgba(59, 68, 77, 1) 0%, rgba(59, 68, 77, 1) 2%, rgba(65, 74, 84, 1) 23%, rgba(60, 68, 77, 1) 51%, rgba(41, 47, 54, 1) 89%, rgba(41, 47, 54, 1) 100%);
    /* ie10+ */
    
    background: linear-gradient(235deg, rgba(59, 68, 77, 1) 0%, rgba(59, 68, 77, 1) 2%, rgba(65, 74, 84, 1) 23%, rgba(60, 68, 77, 1) 51%, rgba(41, 47, 54, 1) 89%, rgba(41, 47, 54, 1) 100%);
    /* w3c */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#292F36', endColorstr='#3B444D', GradientType=1);
    /* ie6-9 */
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
-webkit-transition: all 500ms;  
}
.commonPos {
    position: relative;
    opacity: 0.9;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.bgimg-1 {
    background-image: url("../images/logo.png");
    min-height: 100%;
    z-index: 1;
}
.bgimg-2 {
    background-image: url("../images/logo.png");
    min-height: 400px;
    z-index: 0;
}
.bgimg-3 {
    background-image: url("../images/img_parallax3.jpg");
    min-height: 400px;
    z-index: 0;
}
.caption {
    position: absolute;
    display: block;
    left: 0;
    top: 70%;
    width: 0%;
    text-align: left;
	margin-left:5px;
    color: #000;
    font-family:  'Bad Script', cursive;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.caption span.border {
    background-color: transparent;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    letter-spacing: 3px;
    /*border: 1px solid rgba(255, 255, 255, .8);*/
    cursor: pointer;
}

.caption span.border a{
    color: white;
}

.about{
    background-image: url("../images/14.png");    
}
.mySkills{
    background-image: url("../images/15.png");    
}
.myExperience{
    background-image: url("../images/16.png");    
}
.myEducation{
    background-image: url("../images/18.png");    
}
.myPortfolio{
    background-image: url("../images/19.png");    
}
.myContact{
    background-image: url("../images/22.png");    
}
.myFeedback{
    background-image: url("../images/3.png");    
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px;
    color: #DC3248;
}
.textContent {
    color: #777;
    background-color: white;
    padding: 50px 80px;
    text-align: justify;
    position: relative;
	z-index:-1;
	-webkit-transition: all 500ms;
}
.bgMedium {
    width: 80%;
    margin: auto;
    top: -55px;
    z-index:0;
}
.gradientTop {
    background:url("../images/logo.png");    
    min-height: 100%;
}

/*MayankN today*/
.gradient2 {
    background:url("../images/logo_1.png");    
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftMarker {
    position: absolute;
    /*border: 1px solid rgba(255, 255, 255, .5);*/
    width: 0px;
    height: 44px;
    top: -5px;
    margin-left: 15px;
}
.innerText {
    padding-left: 32px;
}
.queryContent {
    background: #fff;
    padding: 50px 130px;
}
.formFields {
    margin: auto 0;
    text-align: center;
}
.btnLarge {
    width: 50%;
    border: 1px solid gray;
    padding-left: 5px;
    height: 35px;
    margin-left: 15px;
    background: #E6EAEE;
}
.divider {
    /*width: 398px;*/
    height: 5px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    margin: 15px;
    margin-left: 215px;
}
.leftMargin {
    width: 65px;
    display: inline-block;
}
textarea {
    resize: none;
    height: 60px !important;
}
.commentDiv{
    vertical-align: top;
    line-height: 80px;
}

.submitFeedbk{
    border: none;    
    background:#DC3248;
    width: 100px;
    height: 35px;
    color: white;
/*    padding-left: 25px;*/
    cursor: pointer;
    margin-left: 55px;
    text-transform:uppercase;
}

.submitFeedbk:HOVER{
    color:#fff;
    background: gray;
}

a{
  text-decoration: none;
  color:black;
 }
 
 .topHeader{
	width:300px;
	height: 300px;
	background: rgba(255,255,255,0.7);
	border-radius: 150px;
	margin:auto;
	display:none;
}

.innerHeader{
	width: 288px;
    height: 288px;
	background: rgba(255,255,255,0.5);
    border-radius: 170px;
    margin-left: 25px;
}
.headerTxt{
	padding: 70px 35px;
    font-size: 22px;
	font-style: italic;
}

.space{
	height:10px;
}
.headerNavBar {
    /* margin: auto; */
    width: 55px;
    /* height: 35px; */
    background: white;
    padding: 10px;
    /* border-radius: 12px; */
    margin-top: 40px;
    float: left;
    text-align: left;
    /* margin-left: 10px; */
    font-size: 12px;
    position: fixed;
	-webkit-transition: all 500ms;
	z-index: 999;
}


.headerNavBar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}


.headerNavBar > ul > li {
    /* float: left; */
    width: 70px;
}


@media only screen and (max-width: 500px) {
    .textContent {
        padding: 25px 25px;
    }
}

@media only screen and (max-width: 815px) {
	.bgMedium{
		width:auto;
     	 
	}
	.textContent{
	       padding: 50px 30px
	}
	.innerText{		
		font-size:18px;
	}
	
	.queryContent {	 
	    padding: 50px 50px;
	}

	.formFields{
		text-align: left; 
	}	
	.btnLarge{
		width:90%;
	}
	
	
}

@media only screen and (max-width: 712px) {
	.caption{
		margin-left:0px;
		width:215px !important;
	}

	.bgMedium{
		width:auto;
     	 
	}
	.innerText{		
		font-size:18px;
	}
	.textContent{
	       padding: 50px 30px
	}

	.queryContent {	 
	    padding: 50px 20px;
	}
	
}

@media only screen and (max-width: 518px) {
	.caption{
		margin-left:0px;
		width:150px !important;
	}
	.innerText{
		padding-left:10px;
		font-size:12px;
	}

	.formFields{
		text-align: left; 
	}	
	.btnLarge{
		width:90%;
	}
}



.fixed {
    top:0;
    left:0;
    position:fixed;        
}