body{
   margin: 0 auto;
   font-family: 'Libre Franklin', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    overflow: hidden;
}

.header {
    float: left;
    width: 100%;
    background: #fff;
    max-width: none;
    z-index: 101;
    position: relative;
    border: 0px;
    height: auto;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
    float: none;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.logo-wrapper {
        float: left;
        width: 150px;
        position: relative;
        overflow: hidden;
    }
    
.logo-wrapper #logo {
    margin: 0px;
    position: relative;
    width: 100%;
    min-height: 80px;
}

.logo-wrapper #logo a {
    background-size: 100% auto;
    background-position: center 15px;
}

.top-right.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    font-size: 0.85rem;
    text-transform: none;
    font-weight: 700;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.top-right.menu .menu-item {
    display: inline-block;
    box-sizing: border-box;
}

.top-right.menu .menu-item a, .top-right.menu .menu-item div.main-link {        
    float: left;
    padding: 1.6rem 1.85rem 0rem;
}

#logo a {
    background-image: url("../images/OpenCharity.png");
    background-size: 110px auto;
    background-position: center 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-position ease-in-out 0.2s;    
}


#inner-header a{
    text-decoration: none;
    text-transform: uppercase;
    color:#828285;
}


#inner-header a.glowButton{
    border: 2px solid #B8E3E2;
    color: #5EBFBD;
    padding: 0.85rem;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
}

#inner-header a.glowButton {
    transition: all ease-in-out 0.2s;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 12px 18px;        
    font-size: 14px;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 2px;
}


.imgContainer{
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100% 0;
    background-color: #0288A7;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
    overflow: hidden;
    max-height: 465px;
    height: 465px;
}
.gradientPatch{
    padding: 45px 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.textContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sliderTexts{
    color: #fff;
    font-size: 3.2rem;
    text-transform: uppercase;    
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
    margin-top: 75px;
}

.sliderInrTxt{
    max-width: 600px;
    margin: 0 auto;
    line-height: 30px;
}

.fontsmall{
    font-size: 0.9rem;
}


.midContainer{
    background: #F1F2F5;
    clear: both;
    overflow: hidden;    
}
.wrapper{
    margin: 0 auto;
    max-width: 1140px;    
}

.rightPanel{
    width:80%;    
    float:left;
    margin-top: 25px;
}

.leftPanel{
    width: 19%;
    float:left;
    margin-top: 20px;
}

.registerBtn{
        transition: all ease-in-out 0.2s;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 12px 18px;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 2px;
    background: #5BC0C3;
    color: #fff;
    padding: 0.85rem;
    margin-top: 0.35rem;
    margin-bottom: 0rem;
    float: right;
}

.labelBoldTxt{
  color: #5BC0C3; 
  font-weight: 600;
}

.grayClr{
    color:#565659;
    font-weight: 600;
}

.midTxt{
    font-size: 0.9rem;
    line-height: 30px;
    color:#5E6579;
}

@media only screen and (min-width: 1030px){
    .wrap {
        max-width: 1140px;
    }
        
}

@media only screen and (min-width: 769px){
    body{
        background:#F1F2F5;    
    }
    
    
}

@media (max-width: 769px){
    body{
        background: red;
    } 
    
    .wrap{
        max-width: 650px;
    }
    .logo-wrapper{
        width:25%;
    }
    .top-right.menu{
        font-size: 0.75rem;
    }
    #inner-header a.glowButton{
        font-size: 0.65rem;
    }
}

@media (max-width: 575px){
    body{
        background:green;
    }
    .top-right.menu{
        font-size: 0.65rem;
    }
    #inner-header a.glowButton{
        font-size: 0.65rem;
    }
}